In [103]:
# with open(r'C:\Users\ashif\datascience_notebooks\datascience_Task_1.xlsx', 'r', encoding='ISO-8859-1') as f:
#     content = f.readlines()
#     print(content)

In [91]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [92]:
pip install odfpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: odfpy in c:\users\ashif\appdata\roaming\python\python311\site-packages (1.4.1)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from odfpy) (0.7.1)
Note: you may need to restart the kernel to use updated packages.

In [93]:
import pandas as pd
excel_data = pd.read_excel(r'C:\Users\ashif\datascience_notebooks\datascience_Task_1.xlsx')
excel_data

,ADDRES,date,time
0,"56th ben colony, btm layout, bangalore 78909",3rd apr 2022,5hr 55 min 8sec
1,"20th stree, johns road, whitefield, bangalore ...",2021-12-06 00:00:00,0.280741

In [94]:
excel_data.shape

(2, 3)

In [95]:
len(excel_data.columns)

3

In [96]:
excel_data.get

<bound method NDFrame.get of                                               ADDRES                 date  \
0      56th ben colony, btm layout, bangalore 78909          3rd apr 2022
1  20th stree, johns road, whitefield, bangalore ...  2021-12-06 00:00:00

              time
0  5hr 55 min 8sec
1         0.280741  >

In [97]:
t_dict = {}
for col, row in excel_data.items():
    # print(col)
    row=row[0].split(' ')
    print(row)
    t_dict[col] = row
print(t_dict)
data = {'door no':[t_dict['ADDRES'][0]],  
        'street':[(t_dict['ADDRES'][1]+t_dict['ADDRES'][2])], 
        'Area':[(t_dict['ADDRES'][3]+t_dict['ADDRES'][4])], 
        'City':[t_dict['ADDRES'][5]], 
        'PinCode':[t_dict['ADDRES'][6]], 
        'Day':[t_dict['date'][0]], 
        'Month':[t_dict['date'][1]], 
        'Year':[t_dict['date'][2]], 
        'hr':[t_dict['time'][0]], 
        'min':[(t_dict['time'][1]+t_dict['time'][2])], 
        'sec':[t_dict['time'][3]]}
print(data)
df = pd.DataFrame(data)
file_path = 'C:\\Users\\ashif\\datascience_notebooks\\address.xlsx'
df.to_excel(file_path, index=False)

['56th', 'ben', 'colony,', 'btm', 'layout,', 'bangalore', '78909', '']
['3rd', 'apr', '2022']
['5hr', '55', 'min', '8sec']
{'ADDRES': ['56th', 'ben', 'colony,', 'btm', 'layout,', 'bangalore', '78909', ''], 'date': ['3rd', 'apr', '2022'], 'time': ['5hr', '55', 'min', '8sec']}
{'door no': ['56th'], 'street': ['bencolony,'], 'Area': ['btmlayout,'], 'City': ['bangalore'], 'PinCode': ['78909'], 'Day': ['3rd'], 'Month': ['apr'], 'Year': ['2022'], 'hr': ['5hr'], 'min': ['55min'], 'sec': ['8sec']}

In [98]:
csv_data = pd.read_csv(r'C:\Users\ashif\datascience_notebooks\research-and-development-survey-2022.csv', encoding='latin-1')

In [99]:
csv_data

,Variable,Breakdown,Breakdown_category,Year,RD_Value,Status,Unit,Footnotes,Relative_Sampling_Error
0,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2016,91,NaN,NZ Dollars (millions),12,23.8
1,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2018,89,NaN,NZ Dollars (millions),12,51.7
2,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2019,...,NaN,NZ Dollars (millions),12,...
3,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2020,99,NaN,NZ Dollars (millions),12,30.2
4,_01_Total_RD_Expenditure,ANZSIC_1_Digit,"A_Agriculture, Forestry and Fishing",2021,...,NaN,NZ Dollars (millions),12,...
...,...,...,...,...,...,...,...,...,...
36559,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2017,2.9,NaN,Percentage of GDP,33 and 34,..
36560,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2018,3.01,NaN,Percentage of GDP,33 and 34,..
36561,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2019,3.17,NaN,Percentage of GDP,33 and 34,..
36562,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2020,3.47,NaN,Percentage of GDP,33 and 34,..
36563,_95_Total_RD_Expenditure_as_a_proportion_of_GDP,Country,United States,2021,3.46,NaN,Percentage of GDP,33 and 34,..

In [100]:
pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in c:\users\ashif\appdata\roaming\python\python311\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [101]:
pd.read_json(r'C:\Users\ashif\datascience_notebooks\sample2.json')

                                               users
0  {'userId': 1, 'firstName': 'Krish', 'lastName'...
1  {'userId': 2, 'firstName': 'racks', 'lastName'...
2  {'userId': 3, 'firstName': 'denial', 'lastName...
3  {'userId': 4, 'firstName': 'devid', 'lastName'...
4  {'userId': 5, 'firstName': 'jone', 'lastName':...

In [102]:
pd.read_html(r'C:\Users\ashif\datascience_notebooks\sample1.html')

[   Header 1  Header 2  Header 3
 0  Data 1-1  Data 1-2  Data 1-3
 1  Data 2-1  Data 2-2  Data 2-3]